article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{
	display:block;
}
audio,canvas,video{
	display:inline-block;
	*display:inline;
	*zoom:1;
}
audio:not([controls]){
	display:none;
	height:0;
}
[hidden]{
	display:none;
}
html{
	font-size:100%;
	-ms-text-size-adjust:100%;
	-webkit-text-size-adjust:100%;
}
html,button,input,select,textarea{
	font-family:sans-serif;
}
body{
	margin:0;
}
a:focus{
	outline:thin dotted;
}
a:active,a:hover{
	outline:0;
}
h1{
	font-size:2em;
	margin:0.67em 0;
}
h2{
	font-size:1.5em;
	margin:0.83em 0;
}
h3{
	font-size:1.17em;
	margin:1em 0;
}
h4{
	font-size:1em;
	margin:1.33em 0;
}
h5{
	font-size:0.83em;
	margin:1.67em 0;
}
h6{
	font-size:0.67em;
	margin:2.33em 0;
}
abbr[title]{
	border-bottom:1px dotted;
}
b,strong{
	font-weight:bold;
}
blockquote{
	margin:1em 40px;
}
dfn{
	font-style:italic;
}
hr{
	-moz-box-sizing:content-box;
	box-sizing:content-box;
	height:0;
}
mark{
	background:#ff0;
	color:#000;
}
p,pre{
	margin:1em 0;
}
code,kbd,pre,samp{
	font-family:monospace,serif;
	_font-family:"courier new",monospace;
	font-size:1em;
}
pre{
	white-space:pre;
	white-space:pre-wrap;
	word-wrap:break-word;
}
q{
	quotes:none;
}
q:before,q:after{
	content:"";
	content:none;
}
small{
	font-size:80%;
}
sub,sup{
	font-size:75%;
	line-height:0;
	position:relative;
	vertical-align:baseline;
}
sup{
	top:-0.5em;
}
sub{
	bottom:-0.25em;
}
dl,menu,ol,ul{
	margin:1em 0;
}
dd{
	margin:0 0 0 40px;
}
menu,ol,ul{
	padding:0 0 0 40px;
}
nav ul,nav ol{
	list-style:none;
	list-style-image:none;
}
img{
	border:0;
	-ms-interpolation-mode:bicubic;
}
svg:not(:root){
	overflow:hidden;
}
figure{
	margin:0;
}
form{
	margin:0;
}
fieldset{
	border:1px solid #c0c0c0;
	margin:0 2px;
	padding:0.35em 0.625em 0.75em;
}
legend{
	border:0;
	padding:0;
	white-space:normal;
	*margin-left:-7px;
}
button,input,select,textarea{
	font-size:100%;
	margin:0;
	vertical-align:baseline;
	*vertical-align:middle;
}
button,input{
	line-height:normal;
}
button,select{
	text-transform:none;
}
button,html input[type="button"], input[type="reset"],input[type="submit"]{
	-webkit-appearance:button;
	cursor:pointer;
	*overflow:visible;
}
button[disabled],html input[disabled]{
	cursor:default;
}
input[type="checkbox"],input[type="radio"]{
	box-sizing:border-box;
	padding:0;
	*height:13px;
	*width:13px;
}
input[type="search"]{
	-webkit-appearance:textfield;
	-moz-box-sizing:content-box;
	-webkit-box-sizing:content-box;
	box-sizing:content-box;
}
input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{
	-webkit-appearance:none;
}
button::-moz-focus-inner,input::-moz-focus-inner{
	border:0;
	padding:0;
}
textarea{
	overflow:auto;
	vertical-align:top;
}
table{
	border-collapse:collapse;
	border-spacing:0;
}
@font-face {
	font-family:"Montserrat";
	font-style:normal;
	font-weight:300;
	src:local("Montserrat-Regular"),url("http://themes.googleusercontent.com/static/fonts/montserrat/v4/zhcz-_WihjSQC0oHJ9TCYBsxEYwM7FgeyaSgU71cLG0.woff") format("woff");
}
@font-face {
	font-family:"Montserrat";
	font-style:normal;
	font-weight:700;
	src:local("Montserrat-Bold"),url("http://themes.googleusercontent.com/static/fonts/montserrat/v4/IQHow_FEYlDC4Gzy_m8fcgFhaRv2pGgT5Kf0An0s4MM.woff") format("woff");
}
@font-face {
	font-family:"icomoon";
	src:url("fonts/icomoon.eot?-ki15kb");
	src:url("fonts/icomoon.eot?#iefix-ki15kb") format("embedded-opentype"),url("fonts/icomoon.woff?-ki15kb") format("woff"),url("fonts/icomoon.ttf?-ki15kb") format("truetype"),url("fonts/icomoon.svg?-ki15kb#icomoon") format("svg");
	font-weight:normal;
	font-style:normal;
}
[class^="icon-"],[class*=" icon-"]{
	font-family:"icomoon";
	speak:none;
	font-style:normal;
	font-weight:normal;
	font-variant:normal;
	text-transform:none;
	line-height:1;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale;
}
.icon-heart:before{
	content:"\e600";
}
.icon-cloud:before{
	content:"\e601";
}
.icon-star:before{
	content:"\e602";
}
.icon-tv:before{
	content:"\e603";
}
.icon-sound:before{
	content:"\e604";
}
.icon-video:before{
	content:"\e605";
}
.icon-trash:before{
	content:"\e606";
}
.icon-user:before{
	content:"\e607";
}
.icon-key:before{
	content:"\e608";
}
.icon-search:before{
	content:"\e609";
}
.icon-settings:before{
	content:"\e60a";
}
.icon-camera:before{
	content:"\e60b";
}
.icon-tag:before{
	content:"\e60c";
}
.icon-lock:before{
	content:"\e60d";
}
.icon-bulb:before{
	content:"\e60e";
}
.icon-pen:before{
	content:"\e60f";
}
.icon-diamond:before{
	content:"\e610";
}
.icon-display:before{
	content:"\e611";
}
.icon-location:before{
	content:"\e612";
}
.icon-eye:before{
	content:"\e613";
}
.icon-bubble:before{
	content:"\e614";
}
.icon-stack:before{
	content:"\e615";
}
.icon-cup:before{
	content:"\e616";
}
.icon-phone:before{
	content:"\e617";
}
.icon-news:before{
	content:"\e618";
}
.icon-mail:before{
	content:"\e619";
}
.icon-like:before{
	content:"\e61a";
}
.icon-photo:before{
	content:"\e61b";
}
.icon-note:before{
	content:"\e61c";
}
.icon-clock:before{
	content:"\e61d";
}
.icon-paperplane:before{
	content:"\e61e";
}
.icon-params:before{
	content:"\e61f";
}
.icon-banknote:before{
	content:"\e620";
}
.icon-data:before{
	content:"\e621";
}
.icon-music:before{
	content:"\e622";
}
.icon-megaphone:before{
	content:"\e623";
}
.icon-study:before{
	content:"\e624";
}
.icon-lab:before{
	content:"\e625";
}
.icon-t-shirt:before{
	content:"\e627";
}
.icon-fire:before{
	content:"\e628";
}
.icon-clip:before{
	content:"\e629";
}
.icon-shop:before{
	content:"\e62a";
}
.icon-calendar:before{
	content:"\e62b";
}
.icon-wallet:before{
	content:"\e62c";
}
.icon-vynil:before{
	content:"\e62d";
}
.icon-truck:before{
	content:"\e62e";
}
.icon-world:before{
	content:"\e62f";
}
.icon-home:before{
	content:"\e630";
}
.icon-home2:before{
	content:"\e6a6";
}
.icon-pencil:before{
	content:"\e631";
}
.icon-pencil2:before{
	content:"\e6aa";
}
.icon-image:before{
	content:"\e632";
}
.icon-image2:before{
	content:"\e633";
}
.icon-images:before{
	content:"\e634";
}
.icon-camera2:before{
	content:"\e6b0";
}
.icon-music2:before{
	content:"\e6b1";
}
.icon-play:before{
	content:"\e635";
}
.icon-connection:before{
	content:"\e6bc";
}
.icon-file:before{
	content:"\e636";
}
.icon-profile:before{
	content:"\e637";
}
.icon-folder:before{
	content:"\e6ca";
}
.icon-folder-open:before{
	content:"\e6cb";
}
.icon-tag2:before{
	content:"\e6cc";
}
.icon-tags:before{
	content:"\e6cd";
}
.icon-qrcode:before{
	content:"\e6cf";
}
.icon-cart2:before{
	content:"\e6d2";
}
.icon-phone2:before{
	content:"\e6d8";
}
.icon-address-book:before{
	content:"\e6da";
}
.icon-envelope:before{
	content:"\e6dc";
}
.icon-location2:before{
	content:"\e6de";
}
.icon-location3:before{
	content:"\e6df";
}
.icon-compass:before{
	content:"\e6e0";
}
.icon-alarm:before{
	content:"\e6e6";
}
.icon-alarm2:before{
	content:"\e6e7";
}
.icon-print:before{
	content:"\e6ec";
}
.icon-keyboard:before{
	content:"\e6ed";
}
.icon-screen:before{
	content:"\e6ee";
}
.icon-laptop:before{
	content:"\e6ef";
}
.icon-mobile:before{
	content:"\e6f0";
}
.icon-mobile2:before{
	content:"\e6f1";
}
.icon-tablet:before{
	content:"\e6f2";
}
.icon-tv2:before{
	content:"\e6f3";
}
.icon-download:before{
	content:"\e6fa";
}
.icon-upload:before{
	content:"\e6fb";
}
.icon-disk:before{
	content:"\e6fc";
}
.icon-flip:before{
	content:"\e700";
}
.icon-undo2:before{
	content:"\e63a";
}
.icon-redo2:before{
	content:"\e63b";
}
.icon-forward:before{
	content:"\e63c";
}
.icon-reply:before{
	content:"\e63d";
}
.icon-bubble2:before{
	content:"\e702";
}
.icon-bubbles2:before{
	content:"\e704";
}
.icon-bubble3:before{
	content:"\e705";
}
.icon-bubbles4:before{
	content:"\e707";
}
.icon-user2:before{
	content:"\e63e";
}
.icon-users:before{
	content:"\e63f";
}
.icon-user3:before{
	content:"\e708";
}
.icon-users2:before{
	content:"\e709";
}
.icon-user4:before{
	content:"\e70a";
}
.icon-quotes-left:before{
	content:"\e70c";
}
.icon-busy:before{
	content:"\e70d";
}
.icon-search2:before{
	content:"\e640";
}
.icon-zoomin:before{
	content:"\e641";
}
.icon-zoomout:before{
	content:"\e642";
}
.icon-expand:before{
	content:"\e715";
}
.icon-contract:before{
	content:"\e716";
}
.icon-expand2:before{
	content:"\e717";
}
.icon-contract2:before{
	content:"\e718";
}
.icon-lock2:before{
	content:"\e71b";
}
.icon-unlocked:before{
	content:"\e71d";
}
.icon-wrench:before{
	content:"\e71e";
}
.icon-settings2:before{
	content:"\e71f";
}
.icon-cog:before{
	content:"\e721";
}
.icon-cog2:before{
	content:"\e723";
}
.icon-hammer:before{
	content:"\e724";
}
.icon-stats:before{
	content:"\e729";
}
.icon-lab2:before{
	content:"\e738";
}
.icon-remove:before{
	content:"\e73a";
}
.icon-remove2:before{
	content:"\e73b";
}
.icon-lightning:before{
	content:"\e743";
}
.icon-switch:before{
	content:"\e744";
}
.icon-signup:before{
	content:"\e746";
}
.icon-cloud2:before{
	content:"\e74d";
}
.icon-earth:before{
	content:"\e755";
}
.icon-link:before{
	content:"\e643";
}
.icon-attachment:before{
	content:"\e644";
}
.icon-bookmark:before{
	content:"\e648";
}
.icon-bookmarks:before{
	content:"\e649";
}
.icon-star2:before{
	content:"\e64a";
}
.icon-star3:before{
	content:"\e64b";
}
.icon-star4:before{
	content:"\e64c";
}
.icon-heart2:before{
	content:"\e64d";
}
.icon-heart3:before{
	content:"\e64e";
}
.icon-happy:before{
	content:"\e652";
}
.icon-happy2:before{
	content:"\e653";
}
.icon-smiley:before{
	content:"\e654";
}
.icon-smiley2:before{
	content:"\e655";
}
.icon-sad:before{
	content:"\e658";
}
.icon-sad2:before{
	content:"\e659";
}
.icon-wink:before{
	content:"\e65a";
}
.icon-wink2:before{
	content:"\e65b";
}
.icon-grin:before{
	content:"\e65c";
}
.icon-grin2:before{
	content:"\e65d";
}
.icon-cool:before{
	content:"\e65e";
}
.icon-cool2:before{
	content:"\e65f";
}
.icon-angry:before{
	content:"\e660";
}
.icon-angry2:before{
	content:"\e661";
}
.icon-evil:before{
	content:"\e662";
}
.icon-evil2:before{
	content:"\e663";
}
.icon-shocked:before{
	content:"\e75a";
}
.icon-shocked2:before{
	content:"\e75b";
}
.icon-neutral:before{
	content:"\e664";
}
.icon-neutral2:before{
	content:"\e665";
}
.icon-wondering:before{
	content:"\e666";
}
.icon-wondering2:before{
	content:"\e667";
}
.icon-point-right:before{
	content:"\e75f";
}
.icon-warning:before{
	content:"\e762";
}
.icon-notification:before{
	content:"\e763";
}
.icon-question:before{
	content:"\e764";
}
.icon-info:before{
	content:"\e765";
}
.icon-info2:before{
	content:"\e668";
}
.icon-blocked:before{
	content:"\e669";
}
.icon-cancel-circle:before{
	content:"\e66a";
}
.icon-checkmark-circle:before{
	content:"\e66b";
}
.icon-spam:before{
	content:"\e66c";
}
.icon-close:before{
	content:"\e66d";
}
.icon-checkmark:before{
	content:"\e66e";
}
.icon-checkmark2:before{
	content:"\e766";
}
.icon-minus:before{
	content:"\e768";
}
.icon-plus:before{
	content:"\e769";
}
.icon-play2:before{
	content:"\e76c";
}
.icon-play3:before{
	content:"\e771";
}
.icon-backward2:before{
	content:"\e774";
}
.icon-forward3:before{
	content:"\e775";
}
.icon-loop:before{
	content:"\e66f";
}
.icon-loop2:before{
	content:"\e670";
}
.icon-arrow-up:before{
	content:"\e671";
}
.icon-arrow-right:before{
	content:"\e672";
}
.icon-arrow-down:before{
	content:"\e673";
}
.icon-arrow-left:before{
	content:"\e674";
}
.icon-arrow-up2:before{
	content:"\e675";
}
.icon-arrow-right2:before{
	content:"\e676";
}
.icon-arrow-down2:before{
	content:"\e677";
}
.icon-arrow-left2:before{
	content:"\e678";
}
.icon-arrow-up3:before{
	content:"\e679";
}
.icon-arrow-right3:before{
	content:"\e67a";
}
.icon-arrow-down3:before{
	content:"\e67b";
}
.icon-arrow-left3:before{
	content:"\e67c";
}
.icon-checkbox-checked:before{
	content:"\e67d";
}
.icon-checkbox-unchecked:before{
	content:"\e67e";
}
.icon-checkbox-partial:before{
	content:"\e67f";
}
.icon-radio-checked:before{
	content:"\e680";
}
.icon-radio-unchecked:before{
	content:"\e681";
}
.icon-scissors:before{
	content:"\e792";
}
.icon-pilcrow:before{
	content:"\e7a1";
}
.icon-newtab:before{
	content:"\e7ae";
}
.icon-embed:before{
	content:"\e682";
}
.icon-code:before{
	content:"\e683";
}
.icon-console:before{
	content:"\e684";
}
.icon-share:before{
	content:"\e7af";
}
.icon-googleplus:before{
	content:"\e686";
}
.icon-googleplus22:before{
	content:"\e687";
}
.icon-facebook2:before{
	content:"\e689";
}
.icon-facebook22:before{
	content:"\e68a";
}
.icon-twitter:before{
	content:"\e68b";
}
.icon-twitter3:before{
	content:"\e68d";
}
.icon-feed2:before{
	content:"\e68e";
}
.icon-feed3:before{
	content:"\e690";
}
.icon-youtube:before{
	content:"\e7b8";
}
.icon-youtube2:before{
	content:"\e7b9";
}
.icon-github:before{
	content:"\e691";
}
.icon-github2:before{
	content:"\e692";
}
.icon-github3:before{
	content:"\e693";
}
.icon-github4:before{
	content:"\e694";
}
.icon-github5:before{
	content:"\e695";
}
.icon-tumblr:before{
	content:"\e698";
}
.icon-tumblr2:before{
	content:"\e699";
}
.icon-apple:before{
	content:"\e7d2";
}
.icon-finder:before{
	content:"\e7d3";
}
.icon-android:before{
	content:"\e7d4";
}
.icon-windows:before{
	content:"\e7d5";
}
.icon-windows8:before{
	content:"\e7d6";
}
.icon-reddit:before{
	content:"\e7da";
}
.icon-linkedin:before{
	content:"\e69a";
}
.icon-delicious:before{
	content:"\e69b";
}
.icon-stackoverflow:before{
	content:"\e7df";
}
.icon-libreoffice:before{
	content:"\e7eb";
}
.icon-file-pdf:before{
	content:"\e7ec";
}
.icon-file-word:before{
	content:"\e7ee";
}
.icon-file-excel:before{
	content:"\e7ef";
}
.icon-file-xml:before{
	content:"\e69c";
}
.icon-file-css:before{
	content:"\e69d";
}
.icon-html5:before{
	content:"\e69e";
}
.icon-html52:before{
	content:"\e69f";
}
.icon-css3:before{
	content:"\e6a0";
}
.icon-chrome:before{
	content:"\e6a1";
}
.icon-firefox:before{
	content:"\e6a2";
}
.icon-IE:before{
	content:"\e6a3";
}
.icon-opera:before{
	content:"\e6a4";
}
.icon-safari:before{
	content:"\e6a5";
}
.m-intro .icon{
	font-size:3.6em;
}
body{
	font-family:"Source Sans Pro","Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size:14px;
	line-height:1.428571;
	color:#333;
	z-index:0;
}
article{
	font-family:Helvetica,STHeiti STXihei,Microsoft JhengHei,Microsoft YaHei,Tohoma,Arial;
}
code{
	font-family:Menlo,Monaco,Consolas,Ubuntu Mono,"Courier New",monospace;
}
a{
	color:#7f8c8d;
	text-decoration:none;
}
a:hover{
	color:#727f80;
}
a:active{
	color:#7f8c8d;
}
h1{
	font-size:36px;
	color:#444;
}
h1 a{
	color:#333;
}
.u-btn{
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	-webkit-box-shadow:0px 2px 0px rgba(34,34,34,0.6);
	box-shadow:0px 2px 0px rgba(34,34,34,0.6);
	-moz-border-radius:4px;
	border-radius:4px;
	top:0px;
	position:relative;
	color:#fff;
	background-color:#1abc9c;
	text-shadow:1px 1px #333;
	display:inline-block;
	text-align:center;
	line-height:1.4em;
	padding:0.5em 0.6em;
	cursor:pointer;
}
.u-btn:hover{
	color:#fff;
	background-color:#17a689;
}
.u-btn:active{
	top:1px;
	background-color:#1cc9a7;
	color:#fff;
	-webkit-box-shadow:inset 1px 1px 0px rgba(0,0,0,0.3),inset 0px 1px 0px rgba(0,0,0,0.2);
	box-shadow:inset 1px 1px 0px rgba(0,0,0,0.3),inset 0px 1px 0px rgba(0,0,0,0.2);
}
.u-btn-s1{
	width:220px;
}
.u-btn-gray{
	background-color:#34495e;
	color:#fff;
	text-shadow:none;
}
.u-btn-gray:hover{
	background-color:#2b3c4e;
}
.u-btn-block{
	display:block;
}
.u-link{
	color:#f17288;
}
.u-link:hover{
	color:#ef5b74;
}
.u-link:active{
	color:#f17288;
}
.u-link2{
	color:#1abc9c;
}
.u-link2:hover{
	color:#17a689;
}
.u-link2:active{
	color:#1abc9c;
}
.u-more{
	display:inline-block;
	padding:0.3em 1em;
	border:1px solid #1abc9c;
	font-size:1.1em;
}
.u-more span{
	position:relative;
	top:2px;
}
.u-search{
	font-size:24px;
}
.g-hd{
	background-image:url("http://subtlepatterns.com/patterns/congruent_pentagon.png");
	position:relative;
	padding:10px 5% 60px;
	z-index:0;
	-webkit-box-shadow:inset 0px 0px 4px #eee;
	box-shadow:inset 0px 0px 4px #eee;
}
.g-cnt{
	width:90%;
	margin:0 auto;
	max-width:1120px;
}
.g-top{
	-webkit-box-shadow:0px 1px 1px #eee;
	box-shadow:0px 1px 1px #eee;
}
.g-bd{
	*zoom:1;
	width:90%;
	max-width:1120px;
	margin-left:auto;
	margin-right:auto;
	padding-bottom:40px;
}
.g-bd:before,.g-bd:after{
	display:table;
	content:"";
	line-height:0;
}
.g-bd:after{
	clear:both;
}
.g-bd-example{
	padding-top:40px;
}
.g-sd{
	width:180px;
	float:left;
}
.g-mn{
	padding-left:18px;
	overflow:hidden;
}
.m-subtitle{
	background-image:url("http://subtlepatterns.com/patterns/congruent_pentagon.png");
	padding:20px 0;
	box-shadow:inset 0px 1px 5px rgba(0,0,0,0.1);
}
.m-subtitle h2{
	color:#7f8c8d;
	text-shadow:0px 1px 1px #ccc;
	margin:0 auto;
	width:90%;
	max-width:1120px;
	font-size:3em;
	line-height:2em;
}
.m-subtitle .icon{
	float:right;
	line-height:84px;
}
.m-subtitle .icon:hover{
	color:#f17288;
}
.m-refer{
	margin:100px 30px;
	min-height:320px;
	border:1px solid #aaa;
	background-color:#ddd;
	text-align:center;
	padding:6em 5%;
}
.m-refer h2{
	font-size:2em;
	color:#666;
}
.m-refer p{
	color:#777;
	margin-bottom:2em;
}
.m-refer .icon{
	color:#e4786c;
}
.m-refer .u-btn{
	margin-top:12px;
}
.m-menu{
	margin-top:60px;
	padding:0;
	list-style:none;
}
.m-menu a{
	display:block;
	font-size:16px;
	padding:10px;
	padding-left:0px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	border-left:3px solid transparent;
	margin-bottom:10px;
	position:relative;
}
.m-menu a:hover,.m-menu a.active{
	color:#1abc9c;
}
.m-nav{
	*zoom:1;
	position:relative;
	z-index:2;
	padding-top:10px;
	margin-left:auto;
	margin-right:auto;
	text-align:right;
}
.m-nav:before,.m-nav:after{
	display:table;
	content:"";
	line-height:0;
}
.m-nav:after{
	clear:both;
}
.m-nav .logo{
	float:left;
	margin-top:10px;
}
.m-nav ul{
	float:right;
}
.m-nav li{
	display:inline-block;
	padding:0 20px;
}
.m-nav li a{
	line-height:32px;
	display:inline-block;
}
.m-nav li a.icon{
	text-indent:-999px;
	position:relative;
	top:4px;
	font-size:1.6em;
	-webkit-transition:color 0.4s;
	-moz-transition:color 0.4s;
	transition:color 0.4s;
}
.m-nav li a.icon:hover,.m-nav li a.icon.active{
	color:#f17288;
}
.m-nav li a.inner{
	display:inline-block;
	width:80px;
	text-align:center;
	border-bottom:2px solid transparent;
	-webkit-transition:border 0.2s;
	-moz-transition:border 0.2s;
	transition:border 0.2s;
}
.m-nav li a.inner:hover,.m-nav li a.inner.active{
	border-bottom-color:#f17288;
}
.m-nav li .github{
	display:inline-block;
	border:1px solid #fff;
	padding:0.3em 2em;
	border-radius:5px;
}
.m-nav li .github:hover,.m-nav li .github.active{
	color:#f17288;
	border-color:#f17288;
}
.m-nav li .home{
	display:inline-block;
	font-size:1.8em;
	text-indent:-2px;
}
.m-nav li.home{
	position:relative;
	top:-14px;
	float:left;
}
.m-nav-2{
	padding-bottom:10px;
}
.m-nav-2 li a{
	color:#34495e;
	font-size:16px;
}
.m-nav-2 li a:hover{
	color:#2b3c4e;
}
.m-nav-2 li a:active{
	color:#34495e;
}
.m-slogan{
	z-index:2;
	position:relative;
	min-height:300px;
	padding-top:60px;
}
.m-slogan .slogan{
	margin-left:auto;
	margin-right:auto;
	text-align:center;
}
.m-slogan .slogan p{
	color:#666;
	font-size:16px;
	padding:0 0.6em;
	margin-top:0.1em;
}
.m-slogan h2{
	color:#666;
	font-size:3.6em;
	line-height:2em;
	cursor:pointer;
	margin:0.6em 0;
	text-shadow:1px 1px 1px #aaa;
}
.m-slogan h2 span{
	-webkit-transition:opacity 0.1s 1s;
	-moz-transition:opacity 0.1s 1s;
	transition:opacity 0.1s 1s;
	color:#f3899c;
	display:none;
}
.m-slogan h2:hover span{
	display:inline-block;
}
.m-slogan .img{
	margin-top:1em;
}
.m-slogan .img p{
	margin-bottom:4px;
	font-size:12px;
	text-shadow:none;
	color:#666;
}
.m-slogan .img img{
	width:120px;
}
.m-slogan .btns{
	font-size:16px;
	margin-top:40px;
}
.m-slogan .btns .u-btn{
	margin-top:10px;
}
.m-slogan .btns .u-btn:first-child{
	margin-right:20px;
}
.m-slogan .social{
	text-align:center;
	margin-top:20px;
}
.m-start{
	border-top:1px solid #ccc;
	border-bottom:1px solid #ccc;
}
.m-start a.full{
	display:block;
	padding:32px;
	text-align:center;
	font-size:2.1em;
	color:#666;
	-webkit-box-shadow:inset 0px 0px 1px rgba(51,51,51,0.2);
	box-shadow:inset 0px 0px 1px rgba(51,51,51,0.2);
	-webkit-transition:background-color 0.8s,color 0.4s;
	-moz-transition:background-color 0.8s,color 0.4s;
	transition:background-color 0.8s,color 0.4s;
	background-color:#f2f5f5;
}
.m-start a.full:hover{
	color:#fff;
	background-color:#1abc9c;
}
.m-start a.full:active{
	background-color:#17a689;
}
.m-demo{
	margin-top:40px;
	position:relative;
	padding:20px;
	*zoom:1;
}
.m-demo:before,.m-demo:after{
	display:table;
	content:"";
	line-height:0;
}
.m-demo:after{
	clear:both;
}
.m-demo h2{
	font-size:2.4em;
	color:#ccc;
	padding-left:20px;
	margin-bottom:10px;
}
.m-demo .console{
	overflow:hidden;
	padding-bottom:20px;
}
.m-demo .demo{
	float:left;
	height:300px;
	position:relative;
	border-radius:4px;
	border:1px solid #ecf0f1;
	overflow:hidden;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	width:36%;
	margin-right:2%;
	float:left;
}
.m-demo .demo-2{
	width:32%;
}
.m-demo .demo:hover:before{
	display:none;
}
.m-demo .demo:before{
	display:block;
	content:attr(data-title);
	position:absolute;
	color:#fefefe;
	top:0;
	z-index:100;
	right:0;
	padding:0.2em;
	-moz-border-bottom-left-radius:4px;
	border-bottom-left-radius:4px;
	border:1px dashed #ccc;
	background-color:#ccc;
}
.m-demo .demo .CodeMirror{
	padding:1em;
	background-color:#fff;
}
.m-demo .demo_sub{
	height:60px;
}
.m-demo .demo_sub .CodeMirror{
	background-color:#f3f3f3;
}
#demo-js-1 .CodeMirror{
	padding-bottom:4px;
}
#demo-js-3 .CodeMirror{
	padding-top:4px;
}
#demo-js{
	height:180px;
	text-indent:1em;
}
#demo-js .CodeMirror{
	height:180px;
	padding-top:0px;
	padding-bottom:0px;
}
#demo-html{
	height:300px;
}
#demo-html .CodeMirror{
	height:280px;
}
#demo-js .CodeMirror,#demo-html .CodeMirror{
	background-color:#fff;
}
#demo-view{
	padding:20px 10px;
}
#demo-view a{
	color:#1abc9c;
}
#demo-view a:hover{
	color:#17a689;
}
#demo-view a:active{
	color:#1abc9c;
}
#demo-view ul{
	padding-left:2em;
}
#demo-view input{
	display:block;
	margin-top:5px;
	border:1px solid #ecf0f1;
	padding:0.2em 0.5em;
}
#demo-view li.r-enter{
	transition:all 0.6s;
	opacity:0;
	max-height:0;
}
#demo-view li.r-leave{
	transition:all 0.6s;
	max-height:30px;
	opacity:1;
}
#demo-view li.r-enter-active{
	opacity:1;
	color:#111;
	max-height:30px;
}
#demo-view li.r-leave-active{
	opacity:0;
	max-height:0;
}
.m-intro{
	padding:40px 0 80px;
	background-color:#fff;
	min-height:200px;
	text-align:center;
}
.m-intro .icon{
	color:#444;
}
.m-intro h2{
	font-size:2.8em;
	color:#444;
	margin-bottom:0.3em;
}
.m-intro em{
	color:#999;
	font-style:normal;
}
.m-intro .sec{
	margin:2em 1%;
	display:inline-block;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	width:30%;
	vertical-align:top;
}
.m-intro .sec h3{
	color:#666;
	font-size:1.4em;
	margin-bottom:16px;
}
.m-intro .sec p{
	color:#999;
	font-weight:normal;
	font-size:14px;
}
.m-intro .sec strong{
	color:#666;
}
.m-intro .more{
	margin-top:40px;
	text-align:center;
}
.m-intro .more a{
	text-decoration:underline;
	color:#1abc9c;
}
.m-extenal{
	margin-top:6em;
	*zoom:1;
	padding:10em 5%;
	background-color:#ddd;
	border-bottom:1px solid #aaa;
	border-top:1px solid #aaa;
}
.m-extenal:before,.m-extenal:after{
	display:table;
	content:"";
	line-height:0;
}
.m-extenal:after{
	clear:both;
}
.m-extenal h2{
	font-size:2.4em;
}
.m-extenal .codep{
	width:30%;
	float:left;
	text-align:center;
}
.m-extenal .intro{
	overflow:hidden;
	text-align:left;
	padding-left:4em;
}
.m-extenal .logo{
	display:inline-block;
	height:120px;
	width:120px;
	margin-bottom:12px;
}
.m-extenal .outer-ring{
	fill:#34495e;
}
.m-extenal .inner-box{
	fill:#34495e;
}
.m-footer{
	background-color:#2c3e50;
	font-size:12px;
	box-shadow:inset 0px 2px 3px rgba(0,0,0,0.3);
	padding:10px 0;
	text-align:center;
}
.m-footer p{
	color:#858585;
}
.m-footer a:hover{
	color:#f3899c;
}
.m-footer a:active{
	color:#ef5b74;
}
canvas#canvas{
	z-index:1;
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}
.m-markdown{
	color:#555;
}
.m-markdown h2{
	font-size:32px;
}
.m-markdown h3{
	font-size:28px;
}
.m-markdown h4{
	font-size:24px;
}
.m-markdown h1,.m-markdown h2,.m-markdown h3,.m-markdown h4{
	color:#111;
	font-weight:400;
}
.m-markdown h1,.m-markdown h2,.m-markdown h3,.m-markdown h4,.m-markdown h5,.m-markdown p{
	margin-bottom:14px;
	margin-top:12px;
	padding:0;
}
.m-markdown a{
	color:#1abc9c;
}
.m-markdown a:hover{
	color:#17a689;
}
.m-markdown a:active{
	color:#1abc9c;
}
.m-markdown ul,.m-markdown ol{
	padding:0;
	margin:0;
}
.m-markdown li{
	line-height:24px;
}
.m-markdown li ul,.m-markdown li ul{
	margin-left:24px;
}
.m-markdown p,.m-markdown ul,.m-markdown ol{
	font-size:16px;
	line-height:24px;
}
.m-markdown pre{
	padding:0px 24px;
	white-space:pre-wrap;
}
.m-markdown code{
	font-family:Consolas,Monaco,Andale Mono,monospace;
	line-height:1.5;
	font-size:13px;
}
.m-markdown aside{
	display:block;
	float:right;
	width:390px;
}
.m-markdown blockquote{
	margin:0;
	padding:0;
}
.m-markdown blockquote cite{
	font-size:14px;
	line-height:20px;
	color:#bfbfbf;
}
.m-markdown blockquote cite:before{
	content:"\2014 \00A0";
}
.m-markdown blockquote p{
	color:#666;
}
.m-markdown hr{
	width:540px;
	text-align:left;
	margin:0 auto 0 0;
	color:#999;
}
.m-markdown button,.m-markdown input,.m-markdown select,.m-markdown textarea{
	font-size:100%;
	margin:0;
	vertical-align:baseline;
	*vertical-align:middle;
}
.m-markdown button,.m-markdown input{
	line-height:normal;
	*overflow:visible;
}
.m-markdown button::-moz-focus-inner,.m-markdown input::-moz-focus-inner{
	border:0;
	padding:0;
}
.m-markdown button,.m-markdown input[type="button"],.m-markdown input[type="reset"],.m-markdown input[type="submit"]{
	cursor:pointer;
	-webkit-appearance:button;
}
.m-markdown input[type=checkbox],.m-markdown input[type=radio]{
	cursor:pointer;
}
.m-markdown input:not([type="image"]),.m-markdown textarea{
	-webkit-box-sizing:content-box;
	-moz-box-sizing:content-box;
	box-sizing:content-box;
}
.m-markdown input[type="search"]{
	-webkit-appearance:textfield;
	-webkit-box-sizing:content-box;
	-moz-box-sizing:content-box;
	box-sizing:content-box;
}
.m-markdown input[type="search"]::-webkit-search-decoration{
	-webkit-appearance:none;
}
.m-markdown label,.m-markdown input,.m-markdown select,.m-markdown textarea{
	font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size:13px;
	font-weight:normal;
	line-height:normal;
	margin-bottom:18px;
}
.m-markdown input[type=checkbox],.m-markdown input[type=radio]{
	cursor:pointer;
	margin-bottom:0;
}
.m-markdown input[type=text],.m-markdown input[type=password],.m-markdown textarea,.m-markdown select{
	display:inline-block;
	width:210px;
	padding:4px;
	font-size:13px;
	font-weight:normal;
	line-height:18px;
	height:18px;
	color:#808080;
	border:1px solid #ccc;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
}
.m-markdown select,.m-markdown input[type=file]{
	height:27px;
	line-height:27px;
}
.m-markdown textarea{
	height:auto;
}
.m-markdown :-moz-placeholder{
	color:#bfbfbf;
}
.m-markdown ::-webkit-input-placeholder{
	color:#bfbfbf;
}
.m-markdown input[type=text],.m-markdown input[type=password],.m-markdown select,.m-markdown textarea{
	-webkit-transition:border linear 0.2s,box-shadow linear 0.2s;
	-moz-transition:border linear 0.2s,box-shadow linear 0.2s;
	transition:border linear 0.2s,box-shadow linear 0.2s;
	-webkit-box-shadow:inset 0 1px 3px rgba(0,0,0,0.1);
	-moz-box-shadow:inset 0 1px 3px rgba(0,0,0,0.1);
	box-shadow:inset 0 1px 3px rgba(0,0,0,0.1);
}
.m-markdown input[type=text]:focus,.m-markdown input[type=password]:focus,.m-markdown textarea:focus{
	outline:none;
	border-color:rgba(82,168,236,0.8);
	-webkit-box-shadow:inset 0 1px 3px rgba(0,0,0,0.1),0 0 8px rgba(82,168,236,0.6);
	-moz-box-shadow:inset 0 1px 3px rgba(0,0,0,0.1),0 0 8px rgba(82,168,236,0.6);
	box-shadow:inset 0 1px 3px rgba(0,0,0,0.1),0 0 8px rgba(82,168,236,0.6);
}
.m-markdown button{
	display:inline-block;
	padding:4px 14px;
	font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size:13px;
	line-height:18px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
	-webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
	-moz-box-shadow:inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
	box-shadow:inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
	background-color:#0064cd;
	background-repeat:repeat-x;
	background-image:-khtml-gradient(linear,left top,left bottom,from(#049cdb),to(#0064cd));
	background-image:-moz-linear-gradient(top,#049cdb,#0064cd);
	background-image:-ms-linear-gradient(top,#049cdb,#0064cd);
	background-image:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#049cdb),color-stop(100%,#0064cd));
	background-image:-webkit-linear-gradient(top,#049cdb,#0064cd);
	background-image:-o-linear-gradient(top,#049cdb,#0064cd);
	background-image:linear-gradient(top,#049cdb,#0064cd);
	color:#fff;
	text-shadow:0 -1px 0 rgba(0,0,0,0.25);
	border:1px solid #004b9a;
	border-bottom-color:#003f81;
	-webkit-transition:0.1s linear all;
	-moz-transition:0.1s linear all;
	transition:0.1s linear all;
	border-color:#0064cd #0064cd #003f81;
	border-color:rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
}
.m-markdown button:hover{
	color:#fff;
	background-position:0 -15px;
	text-decoration:none;
}
.m-markdown button:active{
	-webkit-box-shadow:inset 0 3px 7px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
	-moz-box-shadow:inset 0 3px 7px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
	box-shadow:inset 0 3px 7px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
}
.m-markdown button::-moz-focus-inner{
	padding:0;
	border:0;
}
.m-markdown p{
	max-width:90%;
}
.m-markdown blockquote{
	border-top:1px solid #ddd;
	border-bottom:1px solid #ddd;
	font-style:italic;
	font-family:"Georgia",serif;
	font-size:1.4em;
	text-align:center;
}
.m-markdown blockquote footer{
	border-top:none;
	font-size:0.8em;
	line-height:1;
	padding-top:0;
}
.m-markdown blockquote footer cite:before{
	content:"—";
	color:#ccc;
	padding:0 0.5em;
}
.m-markdown code,.m-markdown pre{
	font-family:Monaco,Menlo,Consolas,Courier New,monospace;
}
.m-markdown code{
	background:#eee;
	color:#666;
	padding:0 5px;
	margin:0 2px;
	font-size:0.9em;
	border:1px solid #ddd;
	-webkit-border-radius:3px;
	border-radius:3px;
}
.m-markdown pre{
	background:#eee;
	border:1px solid #ddd;
	margin-top:15px;
	overflow:auto;
	padding:7px 15px;
	-webkit-border-radius:2px;
	border-radius:2px;
}
.m-markdown pre code{
	background:none;
	padding:0;
	margin:0;
	border:none;
	-webkit-border-radius:0;
	border-radius:0;
}
.m-markdown ul,.m-markdown ol,.m-markdown dl{
	margin-left:20px;
}
.m-markdown ul ul,.m-markdown ol ul,.m-markdown dl ul,.m-markdown ul ol,.m-markdown ol ol,.m-markdown dl ol,.m-markdown ul dl,.m-markdown ol dl,.m-markdown dl dl{
	margin-top:0;
}
.m-markdown h1,.m-markdown h2{
	font-weight:normal;
	padding-bottom:10px;
	margin-top:20px;
}
.m-markdown h3,.m-markdown h4,.m-markdown h5,.m-markdown h6{
	font-weight:normal;
}
.m-markdown img,.m-markdown video{
	max-width:100%;
	height:auto;
	border:none;
}
.m-markdown img{
	-webkit-border-radius:3px;
	border-radius:3px;
	-webkit-box-shadow:1px 1px 5px rgba(1,1,1,0.4);
	box-shadow:1px 1px 5px rgba(1,1,1,0.4);
	border:8px solid #fff;
}
.m-markdown img:hover{
	-webkit-box-shadow:1px 1px 8px rgba(1,1,1,0.4);
	box-shadow:1px 1px 8px rgba(1,1,1,0.4);
}
.m-markdown iframe{
	border:none;
}
.m-markdown .caption{
	display:block;
	margin-top:5px;
	color:#999;
	position:relative;
	font-size:0.9em;
	padding-left:25px;
}
.m-markdown .caption:before{
	content:"\f040";
	position:absolute;
	font:1.3em FontAwesome;
	position:absolute;
	left:0;
	top:3px;
}
.m-markdown .video-container{
	position:relative;
	padding-bottom:56.25%;
	padding-top:30px;
	height:0;
	overflow:hidden;
}
.m-markdown .video-container iframe,.m-markdown .video-container object,.m-markdown .video-container embed{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	margin-top:0;
}
.m-markdown .pullquote{
	float:right;
	border:none;
	padding:0;
	margin:1em 0 0.5em 1.5em;
	text-align:left;
	width:45%;
	font-size:1.5em;
}
body{
	-webkit-backface-visibility:hidden;
}
.animated{
	-webkit-animation-duration:1s;
	-moz-animation-duration:1s;
	animation-duration:1s;
	-webkit-animation-fill-mode:both;
	-moz-animation-fill-mode:both;
	animation-fill-mode:both;
}
@-webkit-keyframes bounceIn{
	0%{
		opacity:0;
		-webkit-transform:scale(0.3);
	}
	50%{
		opacity:1;
		-webkit-transform:scale(1.05);
	}
	70%{
		-webkit-transform:scale(0.9);
	}
	100%{
		-webkit-transform:scale(1);
	}
}
@-moz-keyframes bounceIn{
	0%{
		opacity:0;
		-moz-transform:scale(0.3);
	}
	50%{
		opacity:1;
		-moz-transform:scale(1.05);
	}
	70%{
		-moz-transform:scale(0.9);
	}
	100%{
		-moz-transform:scale(1);
	}
}
@-o-keyframes bounceIn{
	0%{
		opacity:0;
		-o-transform:scale(0.3);
	}
	50%{
		opacity:1;
		-o-transform:scale(1.05);
	}
	70%{
		-o-transform:scale(0.9);
	}
	100%{
		-o-transform:scale(1);
	}
}
@keyframes bounceIn{
	0%{
		opacity:0;
		transform:scale(0.3);
	}
	50%{
		opacity:1;
		transform:scale(1.05);
	}
	70%{
		transform:scale(0.9);
	}
	100%{
		transform:scale(1);
	}
}
.animated.bounceIn{
	-webkit-animation-name:bounceIn;
	-moz-animation-name:bounceIn;
	animation-name:bounceIn;
}
@-webkit-keyframes bounceOut{
	0%{
		-webkit-transform:scale(1);
	}
	25%{
		-webkit-transform:scale(0.95);
	}
	50%{
		opacity:1;
		-webkit-transform:scale(1.1);
	}
	100%{
		opacity:0;
		-webkit-transform:scale(0.3);
	}
}
@-moz-keyframes bounceOut{
	0%{
		-moz-transform:scale(1);
	}
	25%{
		-moz-transform:scale(0.95);
	}
	50%{
		opacity:1;
		-moz-transform:scale(1.1);
	}
	100%{
		opacity:0;
		-moz-transform:scale(0.3);
	}
}
@-o-keyframes bounceOut{
	0%{
		-o-transform:scale(1);
	}
	25%{
		-o-transform:scale(0.95);
	}
	50%{
		opacity:1;
		-o-transform:scale(1.1);
	}
	100%{
		opacity:0;
		-o-transform:scale(0.3);
	}
}
@keyframes bounceOut{
	0%{
		transform:scale(1);
	}
	25%{
		transform:scale(0.95);
	}
	50%{
		opacity:1;
		transform:scale(1.1);
	}
	100%{
		opacity:0;
		transform:scale(0.3);
	}
}
.animated.bounceOut{
	-webkit-animation-name:bounceOut;
	-moz-animation-name:bounceOut;
	animation-name:bounceOut;
}
.solarized.base03{
	color:#002b36;
}
.solarized.base02{
	color:#073642;
}
.solarized.base01{
	color:#586e75;
}
.solarized.base00{
	color:#657b83;
}
.solarized.base0{
	color:#839496;
}
.solarized.base1{
	color:#93a1a1;
}
.solarized.base2{
	color:#eee8d5;
}
.solarized.base3{
	color:#fdf6e3;
}
.solarized.solar-yellow{
	color:#b58900;
}
.solarized.solar-orange{
	color:#cb4b16;
}
.solarized.solar-red{
	color:#dc322f;
}
.solarized.solar-magenta{
	color:#d33682;
}
.solarized.solar-violet{
	color:#6c71c4;
}
.solarized.solar-blue{
	color:#268bd2;
}
.solarized.solar-cyan{
	color:#2aa198;
}
.solarized.solar-green{
	color:#859900;
}
.CodeMirror{
	color:#666;
}
.CodeMirror pre,.CodeMirror code{
	font-size:12px;
	font-family:Menlo,Monaco,Consolas,Ubuntu Mono,"Courier New",monospace;
}
.cm-s-solarized{
	line-height:1.45em;
	color-profile:sRGB;
	rendering-intent:auto;
}
.cm-s-solarized.cm-s-dark{
	color:#839496;
	background-color:#002b36;
	text-shadow:#002b36 0 1px;
}
.cm-s-solarized.cm-s-light{
	background-color:#fdf6e3;
	color:#657b83;
	text-shadow:#eee8d5 0 1px;
}
.cm-s-solarized .CodeMirror-widget{
	text-shadow:none;
}
.cm-s-solarized .cm-keyword{
	color:#1abc9c;
}
.cm-s-solarized .cm-atom{
	color:#d33682;
}
.cm-s-solarized .cm-number{
	color:#d33682;
}
.cm-s-solarized .cm-def{
	color:#2aa198;
}
.cm-s-solarized .cm-variable{
	color:#268bd2;
}
.cm-s-solarized .cm-variable-2{
	color:#b58900;
}
.cm-s-solarized .cm-variable-3{
	color:#6c71c4;
}
.cm-s-solarized .cm-property{
	color:#2aa198;
}
.cm-s-solarized .cm-operator{
	color:#6c71c4;
}
.cm-s-solarized .cm-comment{
	color:#586e75;
	font-style:italic;
}
.cm-s-solarized .cm-string{
	color:#f17288;
}
.cm-s-solarized .cm-string-2{
	color:#b58900;
}
.cm-s-solarized .cm-meta{
	color:#859900;
}
.cm-s-solarized .cm-qualifier{
	color:#b58900;
}
.cm-s-solarized .cm-builtin{
	color:#d33682;
}
.cm-s-solarized .cm-bracket{
	color:#cb4b16;
}
.cm-s-solarized .CodeMirror-matchingbracket{
	color:#859900;
}
.cm-s-solarized .CodeMirror-nonmatchingbracket{
	color:#dc322f;
}
.cm-s-solarized .cm-tag{
	color:#93a1a1;
}
.cm-s-solarized .cm-attribute{
	color:#2aa198;
}
.cm-s-solarized .cm-header{
	color:#586e75;
}
.cm-s-solarized .cm-quote{
	color:#93a1a1;
}
.cm-s-solarized .cm-hr{
	color:transparent;
	border-top:1px solid #586e75;
	display:block;
}
.cm-s-solarized .cm-link{
	color:#93a1a1;
	cursor:pointer;
}
.cm-s-solarized .cm-special{
	color:#6c71c4;
}
.cm-s-solarized .cm-em{
	color:#999;
	text-decoration:underline;
	text-decoration-style:dotted;
}
.cm-s-solarized .cm-strong{
	color:#eee;
}
.cm-s-solarized .cm-tab:before{
	content:"➤";
	color:#586e75;
	position:absolute;
}
.cm-s-solarized .cm-error,.cm-s-solarized .cm-invalidchar{
	color:#586e75;
	border-bottom:1px dotted #dc322f;
}
.cm-s-solarized.cm-s-dark .CodeMirror-selected{
	background:#073642;
}
.cm-s-solarized.cm-s-light .CodeMirror-selected{
	background:#eee8d5;
}
.cm-s-solarized .CodeMirror-gutters{
	background:transparent;
	border:none;
}
.cm-s-solarized.cm-s-dark .CodeMirror-gutters{
	background-color:#002b36;
	border-color:#00232c;
}
.cm-s-solarized.cm-s-dark .CodeMirror-linenumber{
	text-shadow:#021014 0 -1px;
}
.cm-s-solarized.cm-s-light .CodeMirror-gutters{
	background-color:#fdf6e3;
	border-color:#eee8d5;
}
.cm-s-solarized .CodeMirror-linenumber{
	color:#586e75;
	padding:0 5px;
}
.cm-s-solarized .CodeMirror-guttermarker-subtle{
	color:#586e75;
}
.cm-s-solarized.cm-s-dark .CodeMirror-guttermarker{
	color:#ddd;
}
.cm-s-solarized.cm-s-light .CodeMirror-guttermarker{
	color:#cb4b16;
}
.cm-s-solarized .CodeMirror-gutter .CodeMirror-gutter-text{
	color:#586e75;
}
.cm-s-solarized .CodeMirror-lines .CodeMirror-cursor{
	border-left:1px solid #819090;
}
.cm-s-solarized.cm-s-dark .CodeMirror-activeline-background{
	background:rgba(255,255,255,0.1);
}
.cm-s-solarized.cm-s-light .CodeMirror-activeline-background{
	background:rgba(0,0,0,0.1);
}
article{
	background:#fff;
}
article hr{
	display:block;
	position:relative;
	width:50%;
	margin:60px auto 50px auto;
	border:1px solid #dededc;
}
article hr::after{
	content:"I'm a breakline  :)";
	position:absolute;
	width:200px;
	height:20px;
	left:48%;
	font-size:14px;
	margin-left:-100px;
	top:-10px;
	color:#bebebe;
	background:#fff;
	text-align:center;
}
article.page{
	padding-left:20px;
}
article.page .icon{
	display:none;
}
article.post .icon:before{
	content:"\f016";
}
article.photo .icon:before{
	content:"\f030";
}
article.link .icon:before{
	content:"\f0c1";
}
article.link .title a:after{
	content:"\f08e";
	color:#999;
	font:12px FontAwesome;
	padding-left:10px;
	vertical-align:super;
}
article .post-content{
	padding:20px 20px 15px 67px;
	margin-bottom:50px;
	position:relative;
}
@media screen and (max-width: 600px){
	article .post-content{
		padding-left:20px;
	}
}
article .gallery{
	overflow:hidden;
	position:relative;
}
article .gallery:hover .control{
	opacity:1;
	-ms-filter:none;
	filter:none;
}
article .gallery img{
	min-width:100%;
	max-width:100%;
	height:auto;
	position:absolute;
	top:0;
	left:0;
	opacity:0;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter:alpha(opacity = 0);
}
article .gallery .control{
	opacity:0;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter:alpha(opacity = 0);
	-webkit-transition:0.3s;
	-moz-transition:0.3s;
	-o-transition:0.3s;
	-ms-transition:0.3s;
	transition:0.3s;
}
article .gallery .prev,article .gallery .next{
	position:absolute;
	top:0;
	width:50%;
	height:100%;
	cursor:pointer;
}
article .gallery .prev:before,article .gallery .next:before{
	position:absolute;
	font:24px/1 FontAwesome;
	text-align:center;
	width:24px;
	text-shadow:0 0 15px rgba(0,0,0,0.5);
	color:#fff;
	margin-top:-12px;
	top:50%;
}
article .gallery .prev{
	left:0;
}
article .gallery .prev:before{
	content:"\f053";
	left:10px;
}
article .gallery .next{
	right:0;
}
article .gallery .next:before{
	content:"\f054";
	right:10px;
}
article header .icon{
	width:32px;
	height:32px;
	margin-right:25px;
	position:absolute;
	top:20px;
	left:20px;
	color:#258fb8;
}
@media screen and (max-width: 600px){
	article header .icon{
		display:none;
	}
}
article header .icon:before{
	position:absolute;
	font:32px FontAwesome;
	top:0;
	left:0;
	width:32px;
	text-align:center;
}
article header time{
	color:#999;
	font:0.9em Microsoft Yahei,Helvetica Neue,Helvetica,Arial,sans-serif;
	margin-bottom:5px;
	display:block;
	line-height:1;
}
article header .title{
	font-weight:normal;
}
article header .title a{
	color:#444;
}
article header .title a:hover{
	color:#258fb8;
	text-decoration:none;
}
article .entry{
	text-align:justify;
	line-height:1.6;
}
article .entry a{
	color:#1abc9c;
}
article .entry a:hover{
	color:#17a689;
}
article .entry a:active{
	color:#1abc9c;
}
article footer{
	margin-top:15px;
	padding-top:10px;
	border-top:1px solid #ddd;
	color:#999;
	font-size:0.9em;
	line-height:16px;
	position:relative;
	min-height:16px;
}
article footer a{
	color:#999;
}
article footer a:hover{
	color:#258fb8;
	text-decoration:none;
}
article footer a:before{
	font:1.1em FontAwesome;
	padding-right:10px;
	vertical-align:middle;
}
article footer a.more-link:before{
	content:"\f054";
}
article footer a.comment-link:before{
	content:"\f075";
}
article footer .categories,article footer .tags{
	position:relative;
	padding-left:25px;
	margin:5px 0;
}
article footer .categories:before,article footer .tags:before{
	position:absolute;
	font:1.1em FontAwesome;
}
article footer .categories:before{
	content:"\f07b";
	top:2px;
	left:1px;
}
article footer .tags:before{
	content:"\f02b";
	top:3px;
	left:2px;
}
article footer .addthis{
	margin-top:15px;
}
article footer .addthis iframe{
	margin-top:0;
}
#comment{
	padding:20px;
	background:#fff;
	-webkit-box-shadow:1px 2px 3px #ddd;
	box-shadow:1px 2px 3px #ddd;
	margin-bottom:50px;
}
#comment .title{
	font-weight:normal;
	margin-bottom:15px;
}
#pagination a{
	display:block;
	padding:5px 10px;
	background:#ddd;
	color:#999;
	font-family:Microsoft Yahei,Helvetica Neue,Helvetica,Arial,sans-serif;
	text-shadow:0 0 1px #fff;
	margin-bottom:50px;
}
#pagination a:hover{
	background:#258fb8;
	color:#fff;
	text-decoration:none;
	text-shadow:none;
}
#pagination .prev:before{
	content:"\f053";
	padding-right:10px;
	font-family:FontAwesome;
}
#pagination .next:after{
	content:"\f054";
	padding-left:10px;
	font-family:FontAwesome;
}
.archive-title{
	color:#999;
	font-weight:normal;
	margin-bottom:30px;
	text-shadow:0 0 1px #fff;
}
.archive-title:before{
	font-family:FontAwesome;
	content:"\f073";
	padding-right:15px;
}
.archive-title.tag:before{
	content:"\f02b";
}
.archive-title.category:before{
	content:"\f07b";
}
.archive{
	-webkit-box-shadow:1px 2px 3px #ddd;
	box-shadow:1px 2px 3px #ddd;
	border-bottom:1px solid #ddd;
	margin-bottom:50px;
}
.archive article{
	-webkit-box-shadow:none;
	box-shadow:none;
}
.archive article .post-content{
	margin-bottom:0;
}
.post figure.highlight{
	background:#eee;
	border:1px solid #ddd;
	margin-top:15px;
	padding:7px 15px;
	-webkit-border-radius:2px;
	border-radius:2px;
	text-shadow:0 0 1px #fff;
	line-height:1.6;
	overflow:auto;
	position:relative;
}
.post figure.highlight figcaption{
	color:#999;
	font-size:0.9em;
	margin-bottom:5px;
	text-shadow:0 0 1px #fff;
}
.post figure.highlight figcaption a{
	position:absolute;
	right:15px;
}
.post figure.highlight pre{
	border:none;
	padding:0;
	margin:0;
}
.post figure.highlight table{
	margin-top:0;
	border-spacing:0;
}
.post figure.highlight .gutter{
	color:#999;
	padding-right:15px;
	border-right:1px solid #ddd;
	text-align:right;
}
.post figure.highlight .code{
	padding-left:15px;
	border-left:1px solid #fff;
}
.post pre .comment,.post pre .template_comment,.post pre .diff .header,.post pre .doctype,.post pre .pi,.post pre .lisp .string,.post pre .javadoc{
	color:#93a1a1;
	font-style:italic;
}
.post pre .keyword,.post pre .winutils,.post pre .method,.post pre .addition,.post pre .css .tag,.post pre .request,.post pre .status,.post pre .nginx .title{
	color:#859900;
}
.post pre .number,.post pre .command,.post pre .string,.post pre .tag .value,.post pre .phpdoc,.post pre .tex .formula,.post pre .regexp,.post pre .hexcolor{
	color:#2aa198;
}
.post pre .title,.post pre .localvars,.post pre .chunk,.post pre .decorator,.post pre .built_in,.post pre .identifier,.post pre .vhdl,.post pre .literal,.post pre .id{
	color:#268bd2;
}
.post pre .attribute,.post pre .variable,.post pre .lisp .body,.post pre .smalltalk .number,.post pre .constant,.post pre .class .title,.post pre .parent,.post pre .haskell .type{
	color:#b58900;
}
.post pre .preprocessor,.post pre .preprocessor .keyword,.post pre .shebang,.post pre .symbol,.post pre .symbol .string,.post pre .diff .change,.post pre .special,.post pre .attr_selector,.post pre .important,.post pre .subst,.post pre .cdata,.post pre .clojure .title{
	color:#cb4b16;
}
.post pre .deletion{
	color:#dc322f;
}
@media screen and (min-width: 1400px){
	.g-bd,.m-subtitle h2,.g-cnt{
		max-width:1200px;
	}
}
@media screen and (max-width: 1024px){
	.m-demo .demo{
		margin-top:20px;
		float:none;
		width:100%;
	}
	.m-demo .console{
		margin-top:20px;
	}
	.g-sd{
		width:100%;
		float:none;
	}
	.g-mn{
		padding-left:0px;
	}
	.m-menu{
		text-align:left;
		font-size:14px;
	}
	.m-menu li{
		display:inline-block;
		width:14%;
		text-align:center;
	}
}
@media screen and (max-width: 600px){
	.m-nav ul,.m-nav .logo{
		text-align:center;
		float:none;
		width:100%;
		padding-left:0;
	}
	.m-nav li{
		display:block;
		float:none;
		text-align:center;
		margin-bottom:16px;
	}
	.m-intro .sec{
		margin-bottom:30px;
		width:100%;
		padding:0 30px;
	}
	.m-slogan{
		padding-top:40px;
	}
	.m-slogan h2{
		line-height:2em;
	}
	.m-slogan .u-btn-s1{
		width:100%;
	}
	.m-menu{
		text-align:center;
	}
	.m-menu li{
		display:block;
		width:100%;
	}
	.m-extenal .codep{
		float:none;
		width:100%;
	}
	.m-extenal .intro{
		display:none;
		padding-left:0px;
	}
}