layout: layout
---


<div class="m-subtitle"> 
  <h2>Reference</h2>
</div>

<div class="g-bd">


<div class="m-refer">
  <h2><span class="icon-attention-circled icon"></span> Sorry. this page is still in progress</h2>
  <p>You can temporarily visit the reference page of the offcial guide for help, it provide comprehensive instructions of all methods </p>
  <div class="btns">
    <a href="/guide/en/introduct/index.html" class="u-btn u-btn-gray u-btn-s1">English</a>
    <a href="/guide/zh/introduct/index.html" class="u-btn u-btn-gray u-btn-s1">中文</a>
  </div>
</div>

<div class="g-mn"  style="display:none">
<%- partial('_partial/sidebar') %>
<article class="m-api">
  <div class="outer">
    <div id="mobile-menu-wrap"></div>
    <div class="page-content"><%- body %></div>
    <%- partial('_partial/sidebar') %>
  </div>
</article>
</div>
</div>



