
<footer class="m-footer">
  <p class="license">Release under <a href="https://github.com/regularjs/regular/blob/master/LICENSE" target="_blank">MIT License</a>| Copyright&nbsp;©&nbsp;2014&nbsp;&nbsp;<a href="https://leeluolee.github.io" target="_blank">@leeluolee</a>. Reserved</p>
  <p class="rights"> Background from <a href="http://subtlepatterns.com/shattered/" target="_blank">Shattered</a> | powered by <a href="//hexo.io">Hexo</a></p>

</footer>

