<header class="g-top" id='header'>
  <div class="m-nav m-nav-2 g-cnt">
    <div class="logo"><a href="/" class="inner"><img src="/image/regular-icon-neg.png" alt="" with=50 height=50></a></div>
    
    <ul class="nav">
      <% _.each(theme.menu, function(menu, title){ %>
        <li> <a href="<%= menu %>" class="<%= title==='github'? 'github' : ''%> inner"><%= title %></a></li>
      <% }); %>
      <li><a href="#" id="search-btn" class="icon-search2  st-search-launcher icon" title="Search"></a></li>
      
    </ul>
  </div>
</header>


