<% page.title = 'Blog' %>

<div class="m-subtitle"> 
  <h2><%= page.title %> <a class="icon icon-feed2" href="/atom.xml"></a></h2>
  
</div>

<div class="g-bd">
<div class="m-posts">
<% page.posts.each(function(post, i){ %>
  <%- partial('_partial/article', {post: post, full: true, index: true}) %>
<% }) %>
</div>

<div id="pagination">
  <% if (page.prev){ %>
    <a class="prev" href="<%- url_for(page.prev_link) %>">Prev</a>
  <% } %>
  <% if (page.next){ %>
    <a class="next" href="<%- url_for(page.next_link) %>">Next</a>
  <% } %>
</div>
</div>

