
<%- page.content %>
<script id="example" type="text/regularjs">
<div class="m-todo">
{#if !username}
  Friend, please <a href='#' on-click={this.login()}>Login</a>
{#else}
  Welcome, {username} <a href='javascript:;' on-click={username = ''}>Logout</a>
  <input on-enter={this.add(draft)} r-model={draft}/>
  <ul class='list'>
    <h3>you have {todos.length} todos </h3>
    {#list todos as todo}
      <li class={todo.compeleted? 'compeleted': ''}>
        {todo.content} <a href='#' on-click={this.remove(todo_index)}>X</a> 
      </li>
    {/list}
  </ul>
{/if}
</div>
</script>

