<div class="m-subtitle"> 
  <h2>Blog <a class="icon icon-feed2" href="/atom.xml"></a></h2>
</div>

<div class="g-bd">
  <%- partial('_partial/article', {post: page, full: true, index: false}) %>
</div>
