<div class="m-subtitle"> 
  <h2>Blog</h2>
  <a class="icon icon-rss" href="/atom.xml"></a>
</div>

<div class="g-bd">
  <%- partial('_partial/article', {post: page, full: true, index: false}) %>
</div>
